$body-color: black;

body {
  color: $body-color;
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
}
table,
tr,
td {
  border: 1px solid black;
}
thead {
  color: rgb(3, 102, 3);
  text-align: left;
}
tbody {
  color: rgb(4, 4, 56);
}
tfoot {
  color: rgb(73, 6, 73);
}
figcaption {
  text-align: center;
  font-size: 20px;
}
